.que-component{
    height: 400px;
    background-color: #F2F4FA;
    margin-top: 10px;
    margin-left: 60px;
}
.que-ans{
    width: 80%;
    height: 90%;
    padding: 10px;
    box-shadow: 4px 4px 8px gray;
    margin: 25px;
    line-height: 25px;

}
@media only screen and (max-width: 688px) {
    .que-component{
        background-color: #F2F4FA;
        width: 80%;
        height: 90%;
        box-shadow: 4px 4px 8px gray;
        line-height: 25px;
    }
  }